body {
    top: 0;
    background: #000;
    font-family: Arial, sans-serif;
  }

  .global-nav {
    width: 100%;
    opacity: 70%;
    display: flex;
    margin: 0 auto;
    min-height: 4.8rem;
    align-items: center;
    margin-bottom: 40px;
    background-color: #2e1f46;
  }

  .headerContainer {
    display: flex;
    width: auto;
    margin: 0 auto;
    min-height: 100%;
    align-items: center;
  }

  .logo-container {
    width: 100px;
    flex-grow: 1;
    text-align: center;
    min-height: 100%;
    position: relative;
  }

  .logo {
    width: 100px;
  }

  form {
    display: block;
  }

  .profile-background-photo, .profile-header {
    position: relative;
  }

  .profile-background {
    text-align: center;
  }

  .profile-background-photo {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .profile-header {
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    background-color: #2e1f46;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(9, 9, 9, 0.05);
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: -65px;
    border-radius: 50%;
  }

  .profile-info {
    padding: 20px 0;
    color: #ffffff;
    margin-top: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: #2e1f46;
    box-shadow: 0 2px 5px 0 rgba(9, 9, 9, 0.05);
  }

  .profile-info h1 {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .profile-info p {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  #addFriendBtn {
    border: none;
    padding: 15px;
    color: #ffffff;
    max-height: 80px;
    min-height: 30px;
    border-radius: 30px;
    background-color: #0a35da;
  }

  #addFriendBtn[disabled] {
    border: none;
    padding: 15px;
    color: #ffffff;
    min-height: 30px;
    max-height: 80px;
    border-radius: 30px;
    background-color: #000;
  }

  #sendMessageBtn {
    border: none;
    padding: 15px;
    color: #ffffff;
    min-height: 30px;
    max-height: 100px;
    border-radius: 30px;
    background-color: #6499c5;
  }
  
  #sendMessageBtn.clicked {
    border: none;
    padding: 15px;
    color: #ffffff;
    min-height: 30px;
    max-height: 80px;
    border-radius: 30px;
    background-color: #000;
  }
  
  #jobOfferBtn {
    border: none;
    padding: 15px;
    color: #ffffff;
    min-height: 30px;
    max-height: 100px;
    border-radius: 30px;
    background-color: #75253e;
  }

  #jobOfferBtn.clicked {
    border: none;
    padding: 15px;
    display: none;
    min-height: 30px;
    max-height: 80px;
    border-radius: 30px;
  }

  #submitHomeworkBtn {
    border: none;
    color: #000;
    padding: 15px;
    min-height: 30px;
    max-height: 100px;
    position: relative;
    border-radius: 30px;
    background-color: #bed0e8;
  }

  .experience-section {
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #2e1f46;
    box-shadow: 0 2px 5px 0 rgba(9, 9, 9, 0.05);
  }

  .experience-section h3 {
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .experience-section ul {
    padding: 0;
    margin-left: 20px;
    list-style-type: none;
  }

  .experience-item {
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 2px solid #007bff;
  }

  .experience-item .item-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .experience-item .item-subtitle {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 5px;
  }

  .experience-item .item-description {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .nw__box {
    color: #ffffff;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #2e1f46;
    box-shadow: 0 2px 5px 0 rgba(9, 9, 9, 0.05);
  }
  
  .nw__box-header {
    height: 52px;
    font-size: 0;
    color: #ffffff;
    padding: 9px 20px 0;
    text-align: justify;
  }

  .nw___box-header-title {
    font-size: 16px;
    color: #ffffff;
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
  }

  .full-statistic {
    color: #ffffff;
    padding: 30px 40px 0 40px;
    border-top: solid 1px #f3f3f3;
  }

  .table {
    color: #ffffff;
  }

  .drop-btn-clr {
    fill: #bed0e8;
  }

  .home-btn-clr {
    fill: #bed0e8;
  }

  .home-button {
    margin: 0;
    width: 100%;
    border: none;
    background: none;
    margin-left: 25px;
    margin-right: -71px;
  }

  .dropbtn {
    width: 100%;
    border: none;
    background: none;
    margin-left: 25px;
    margin-right: -71px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    z-index: 1;
    display: none;
    min-width: 160px;
    position: absolute;
    text-align: center;
    background-color: #bed0e8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: #bed0e8;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .tg-bot-project-background-photo {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .project-header {
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    background-color: #2e1f46;
    box-shadow: 0 2px 5px 0 rgba(9, 9, 9, 0.05);
  }

  .bot-profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: -120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .bot-info {
    color: #ffffff;
    background-color: #2e1f46;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(9, 9, 9, 0.05);
  }
  
  .bot-info p {
    font-size: 18px;
    margin-left: 25px;
  }

  .bot-info p #bot-funcs {
    font-size: 25px;
  }

  .about-bot {
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 2px solid #007bff;
  }

  .about-bot .bot-description p {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .button {
    width: 90%;
    color: #fff;
    font-size: 18px;
    margin-left: 5%;
    font-weight: bold;
    padding: 12px 24px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 30px;
    display: inline-block;
    background-color: #0088cc;
}